<p>
<span class="var">console</span>.<span class="var">log</span>(<span class="string">'Hello World'</span>);
</p>

<span class="var">var</span>
<span class="method">sailors</span>
<span class="equals">=</span>
<a href="/sailors">
<span class="string">'Sailors'</span>;
</a>
