<h1>Sailors</h1>
<ul>
	<a href="https://github.com/gittheking">
		<li>Bobby King</li>
	</a>
	<a href="https://github.com/poele">
		<li>Gab Lubliner</li>
	</a>
	<a href="https://github.com/jajuki13">
		<li>James Kim</li>
	</a>
	<a href="https://github.com/bellvedere">
		<li>Jeremy Bell</li>
	</a>
</ul>

<a href="/">Home</a>