<p>
<span class="var">var </span> 
<span class="method">Sailors </span> 
<span class="equals">= </span> 
{</p>

<ul>
	<li>
		<span class="string">'bobbyKing'</span>: 
		<a href="https://github.com/gittheking">
			<span class="string">
				'https://github.com/gittheking'</span>,
		</a>
	</li>
	<li>
		<span class="string">'gabLubliner'</span>:
		<a href="https://github.com/poele">
			<span class="string">
				'https://github.com/poele'</span>,
		</a>
	</li>
	<li>
		<span class="string">'jamesKim'</span>:
		<a href="https://github.com/jajuki13">
			<span class="string">
			'https://github.com/jajuki13'</span>,
		</a>
	</li>
	<li>
		<span class="string">'jeremyBell'</span>:
		<a href="https://github.com/bellvedere">
			<span class="string">
				'https://github.com/bellvedere'
			</span>
		</a>
	</li>
</ul>
<p>};</p>

<p>
<span class="var">var </span>
<span class="method">home </span>
<span class="equals">= </span>
	<a href="/">
		<span class="string">'Home'</span>;
	</a>
</p>